#header { background:#313131 url(../img/admin/header-bk.gif) repeat-x; }
a#view { background: url(../img/admin/cart_go.png) 0% 50% no-repeat; }
a#signout { background: url(../img/admin/user_go.png) 0% 50% no-repeat; }
#nav { background: #d6d6d6; }

#catalog #Catalog, 
#orders #Orders, 
#users #Users, 
#settings #Settings { 
	background:#404040; 
	color:#fff; 
}
#catalog #Catalog:hover, 
	#orders #Orders:hover, 
	#users #Users:hover, 
	#settings #Settings:hover { 
		background:#555; 
}
#main.part { background:url(../img/admin/main-bk.gif) top left repeat-y;}

#content tr.alt { background:#eee; border:1px solid #ccc; border-left:0; border-right:0; }
#content tr:hover td { background:#F8FFD4; }
#content th { background:#FBF2BD; border-bottom:1px solid #000; }
#footer { background:#d6d6d6; }
a.button { 
	background:#F9FAFB; 
	border:1px solid #ddd; 
	border-right-color:#000; 
	border-bottom-color:#000;
}
a.newCategory { background:#F9FAFB url(../img/admin/folder_add.png) 5% 50% no-repeat; }
a.newProduct { background:#F9FAFB url(../img/admin/newspaper_add.png) 5% 50% no-repeat; }
a.newUser { background:#F9FAFB url(../img/admin/user_add.png) 5% 50% no-repeat; }
a.newTax { background:#F9FAFB url(../img/admin/money_add.png) 5% 50% no-repeat; }

.catName a { background:url(../img/admin/folder.png) 0% 50% no-repeat; padding-left:20px; display:block; }
.prodMove a { background:url(../img/admin/newspaper_link.png) 0% 50% no-repeat; padding-left:20px; }
.catMove a { background:url(../img/admin/folder_wrench.png) 0% 50% no-repeat; padding-left:20px; }
.ordView a { background:url(../img/admin/package_go.png) 0% 50% no-repeat; padding-left:20px; }
.ordDel a { background:url(../img/admin/package_delete.png) 0% 50% no-repeat; padding-left:20px; }
.ordEdit a { background:url(../img/admin/package_link.png) 0% 50% no-repeat; padding-left:20px; }
.taxEdit a { background:url(../img/admin/money.png) 0% 50% no-repeat; padding-left:20px; }
.taxDelete a { background:url(../img/admin/money_delete.png) 0% 50% no-repeat; padding-left:20px; }

#categories ul a, #categories ul strong  {
	background:url(../img/admin/folder.png) 0% 50% no-repeat;
}
#side_orders ul a, #side_orders ul strong  {
	background:url(../img/admin/package.png) 0% 50% no-repeat;
}
#by_days ul a, #by_days ul strong  {
	background:url(../img/admin/calendar_view_month.png) 0% 50% no-repeat;
}
#user_types ul a, #user_types ul strong  {
	background:url(../img/admin/user.png) 0% 50% no-repeat;
}
#user_types ul #admins a, #user_types ul #admins strong  {
	background:url(../img/admin/user_orange.png) 0% 50% no-repeat;
}
#side_settings ul .tax_states a, #side_settings ul .tax_states strong  {
	background:url(../img/admin/money_dollar.png) 0% 50% no-repeat;
}

.catEdit a { background:url(../img/admin/folder_edit.png) 0% 50% no-repeat; padding-left:20px; }
.catRemove a { background:url(../img/admin/folder_delete.png) 0% 50% no-repeat; padding-left:20px; }

.usrView a { background:url(../img/admin/user_go.png) 0% 50% no-repeat; padding-left:20px; }
.usrEdit a { background:url(../img/admin/user_edit.png) 0% 50% no-repeat; padding-left:20px; }
.usrDelete a { background:url(../img/admin/user_delete.png) 0% 50% no-repeat; padding-left:20px; }

.prodName a { background:url(../img/admin/newspaper.png) 0% 50% no-repeat; padding-left:20px; display:block;}
.prodEdit a { background:url(../img/admin/newspaper_go.png) 0% 50% no-repeat; padding-left:20px; }
.prodRemove a { background:url(../img/admin/newspaper_delete.png) 0% 50% no-repeat; padding-left:20px; }

/* Sidebar */

#second a.button { background:#444; color:#fff; padding-left:38px; }
#second a.printInvoice { background:#444 url(../img/admin/printer.png) 8% 50% no-repeat; }
#second a.editOrder { background:#444 url(../img/admin/package_link.png) 8% 50% no-repeat; }


/* Order Page */
#bill_to , #ship_to { border:1px solid #999; }
#bill_to h3, #ship_to h3 { border-bottom:1px solid #999; }
#items tr:hover td { background:inherit; }
#items table { background:#fbfbfb; }
#items table td { border:1px solid #fff; }