#wrapper {  min-height: 100%; position:absolute; width:100%; }
#header { overflow:hidden; zoom:1; padding:10px; }
#header a { float:left; }
#header ul { float:right; display:inline; }
#header li { display:inline; }
#header li a { padding:19px 20px 19px 20px; color:#fff; }

#nav { border: 1px solid #fff; border-left:0; border-right:0; overflow:hidden; zoom:1; padding-left:55px; }
#nav li { display:inline; float:left; }
#nav li a { padding:8px 20px; display:block; }
#nav li a:hover { background:#000; color:#fff; }

#main { overflow:hidden; zoom:1;}

#second { float:left; width:200px; padding:10px; }
#second ul {
	margin:2px 15px;
}
#second ul a, #second ul strong {
	padding:2px 0 2px 19px;
	display:block;
}
#second div { padding-bottom:15px; }
#second form { overflow:hidden; zoom:1; padding:10px 0;}
#second label { text-align:left; padding:4px 0;}
#second div.input { padding:0; display:inline; margin:0 5px; text-align:left;}
#second div.input select { width:130px; }
#second div.submit { padding:0; display:inline;}
#second a.button { float:none; }
#content { padding:20px 50px 50px; overflow:hidden; }
#content.part { padding:10px 10px 50px; margin-left:230px; }
#content table { width:100%; border-collapse:collapse; }
#content table td, #content table th { padding:7px 8px; }
#content table .info td, #content table td.price { text-align:right; }
#footer { 
	position:absolute;
	bottom:0; left:0; right:0;
	padding:8px 10px; margin-top:1px; }
a.button { padding:8px 10px 8px 25px; display:block; float:left; margin:7px 0; }

/* Empty Page */
#addcategory, #addproduct { float:left; width:49%; }
#addcategory p , #addproduct p { clear:left; }

/* Categories page */
#catName { width:55%; float:left; }
form#search { width:40%; float:right; text-align:right; }
form#search div { margin:0; }
form#search div label { display:inline; }

/* Order Page */
#bill_to { float:left; width:49%; }
#ship_to { float:right; width:49%; }
#bill_to h3, #bill_to p, #ship_to h3, #ship_to p { padding:10px; }
#bill_to p, #ship_to p { padding: 7px 10px; }
#items { clear:both; margin-top:30px;}
#items h3 { text-indent:-5000px; }
dt {
  display:inline; float:left; clear:left; margin: 3px 0 0 0;
	width:115px; text-align:right; padding:10px;
}
dd { float:left; display:inline; padding:10px; }
#user_details { padding:10px 0; clear:both; float:left; width:49%;}
#payment { padding:10px 0; float:right; width:49%;}

#user_orders { clear:both; }