#header { overflow:hidden; zoom:1; padding:10px; }
#header a { float:left; }
#header ul { float:right; display:inline; }
#header li { display:inline; }
#header li a { padding:19px 20px 19px 20px; color:#fff; }

#nav { margin: 1px 0; overflow:hidden; zoom:1; padding-left:55px; }
#nav li { display:inline; float:left; }
#nav li a { padding:8px 20px; display:block; }
#nav li a:hover { background:#000; color:#fff; }

#main { overflow:hidden; zoom:1; min-height:500px;}

#second { float:left; width:200px; padding:10px; }
#second ul {
	margin:2px 15px;
}
#categories ul a, #categories ul strong {
	padding:2px 0 2px 19px;
	display:block;
}

/*
#second li a, 
	#second li strong { 
		padding:8px 23px 8px 0; text-align:right; display:block; margin-top:1px; 
}

#second li li a, 
	#second li li strong { 
		padding:8px 0 8px 23px; text-align:left; display:block; margin-top:1px; 
}
*/

#content { padding:20px 50px; }
#content.part { padding:10px; margin-left:230px; }
#content table { width:100%; border-collapse:collapse; }
#content table td, #content table th { padding:7px 8px; }
#footer { padding:8px 10px; margin-top:1px; }
a.button { padding:8px 10px 8px 25px; display:block; float:left; margin:7px 0; }

/* Empty Page */
#addcategory, #addproduct { float:left; width:49%; }
#addcategory p , #addproduct p { clear:left; }

/* Categories page */
#catName { width:55%; float:left; }
form#search { width:40%; float:right; text-align:right; }
form#search div { margin:0; }
form#search div label { display:inline; }