table.cake-sql-log { display:none; }
/* neutralize */
	/*
	Dark Blue: 1E2626
	/* =INITIAL 
	   v2.1, by Faruk Ates - www.kurafire.net
	   Addendum by Robert Nyman - www.robertnyman.com */

	/* Neutralize styling: 
	   Elements we want to clean out entirely: */
	a img {
		border: 0;
	}
	a {
		outline: none;
	}
	div.clearBoth {
		clear: both;
		height: 0;
	}
	html, body, form, fieldset {
	        margin: 0;
	        padding: 0;
	color: #333;
	}

	/* Neutralize styling: 
	   Elements with a vertical margin: */
	h1, h2, h3, h4, h5, h6, p, pre,
	blockquote, ul, ol, dl, address {
	        margin: 1em 0;
	        padding: 0;
	}

	/* Apply left margin:
	   Only to the few elements that need it: */
	li, dd, blockquote {
	        margin-left: 1em;
	}

	/* Miscellaneous conveniences: */
	form label {
	        cursor: pointer;
	}
	fieldset {
	        border: none;
	}
	input, select, textarea {
	        font-size: 100%;
	}
		/* typography */
		html {font:62.5% helvetica, arial; }
		textarea { font-family:helvetica, arial; }
		body { color: #333; font-size:1.2em; line-height:1.25; }
		h1, h2, h3 {
			font-family: helvetica, arial;
			font-weight: normal;
			margin:0;
		}
		h1 { font-size: 2.8em; }
		h2 { font-size: 2.4em; }
		h3 { font-size: 1.8em; }
		a { color: #555; }
		a:visited { color: #555; }
		#breadcrumbs a {
			font-size:1.2em;
		}
		body {
			padding:0 3px;
			margin:0 auto;
			background:#fff url(../img/drop-shadow.jpg) repeat-y;
		}
		#branding {
			background:#313131;
			color:#fff;
			margin:0;
			padding:20px 10px;
			width:845px;
		}
		#footer {
			clear:both;
			width:841px;
			border-top:5px solid #E93C3C;
			background:#313131;
			color:#fff;
			margin:30px 0 0 0;
			padding:12px;
			text-align:center;
			font-size:.8em;
		}
		h2.name {
			background:#4BADE5;
			width:845px;
			margin:5px 0 10px;
			color:#fff;
			font-weight:bold;
			font-size:1.5em;
			padding:8px 10px;
			border-bottom:6px solid #A1D0EB;
		}
		h2.name span {
			margin-left:130px;
		}
		.up {
			float:right;
			display:block;
			width:1.0em;
			padding:2px 20px;
			background:url(../img/arrow_up.png) 0% 50% no-repeat;
		}
		.message {
			border:3px solid #999;
			border-right:0;
			border-left:0;
			background:#ddd;
			padding:5px;
			margin:5px 0;
			font-size:1.4em;
		}
		#branding ul {
			margin:0;
			padding:0;
		}
		#branding a {
			color:#fff;
			padding:10px;
		}
		#branding ul li {
			display:inline;
			padding:0;
			margin:0;
			float:right;
		}
		#nav {
			list-style:none;
			overflow:hidden;
			zoom:1;
			margin:0;
			padding:0;
			padding-left:20px;
			background:#E93C3C;
			width:845px;
		}
		#nav li {
			display:inline;
			margin:0;
			padding:0;
		}
		#nav li a {
			float:left;
			display:block;
			padding:7px 20px;
			background:#E93C3C;
			border-left:1px solid #000;
			color:#fff;
			text-decoration:none;
			font-size:1em;
		}
		.Catalog #nav li a#catalog, .Orders #nav li a#orders, .Settings #nav li a#settings {
			background:#fff;
			color:#000;
		}
		a#settings {
			border-right:1px solid #000;
		}
		#nav li a:hover {
			background:#E95E5E;
		}
		#content {
			padding:0 10px;
		}
		.partial {
			width:644px;
			float:right;
			margin:0;
			padding:0 10px;
		}
		div#secondary {
			float:left;
			width:200px;
			padding:0 0 0 0px;
			margin:0 0 0 0;
			min-height:300px;
		}
		div#secondary ul {
			list-style:none;
			margin:2px 10px;
			padding:0;
		}
		div#secondary ul li {
			margin:0;
			padding:0;
		}	
		div#secondary ul li a {
				padding:2px 0 2px 15px;
				display:block;
				background: 0% 50% url(../img/section.gif) no-repeat;
			}
			div#secondary ul li a.parent, div#secondary ul li strong {
				padding:2px 0 2px 15px;
				display:block;
				background: 0% 50% url(../img/arrow.gif) no-repeat;
			}
			div#secondary ul li a.parent.current, div#secondary ul li strong {
				padding:2px 0 2px 15px;
				display:block;
				background: 0% 50% url(../img/d-arrow.gif) no-repeat;
			}
			div#secondary ul li strong {
				padding:2px 0 2px 15px;
				display:block;
				background: 0% 50% url(../img/current.gif) no-repeat;
			}
			div#secondary ul li strong.parent {
				padding:2px 0 2px 15px;
				display:block;
				background: 0% 50% url(../img/d-arrow.gif) no-repeat;
			}
			table.products {
				width:100%;
				border-collapse:collapse;
				margin:0;
			}
			th {
				background:#D9EEB6;
				border-bottom:1px solid #96BB5C;
				padding:2px 8px;
				font-weight:bold;
				text-align:left;
				font-size:1.4em;
			}
			td {
				padding:7px;
			}
			tr.alt {
				background:#eee;
			}
			tr.alt td {
				border:1px solid #ccc;
				border-right:0;
				border-left:0;
			}
			tr:hover {
				background:#E0EECA;
			}
		#addproducts {
			float:left;
			width:49%;
		}
		#addproducts p, #addcategories p {
			margin:2px 0;
		}
		#addcategories {
			float:right;
			width:49%;
		}
		/* Secondary */
		#secondary h2 {
			font-size:1.3em;
			background:#eee;
			border:1px solid #ccc;
			border-right:0;
			border-left:0;
			padding:5px 0 5px 10px;
		}
		.folder {
			padding:2px 20px;
			background:url(../img/folder.png) 0% 50% no-repeat;
		}
		.editFolder {
			padding:2px 20px;
			background:url(../img/folder_edit.png) 0% 50% no-repeat;
		}
		.deleteFolder {
			padding:2px 20px;
			background:url(../img/folder_delete.png) 0% 50% no-repeat;
		}
		.product {
			padding:2px 20px;
			background:url(../img/newspaper.png) 0% 50% no-repeat;		
		}
		.editProduct {
			padding:2px 20px;
			background:url(../img/newspaper_go.png) 0% 50% no-repeat;		
		}
		.deleteProduct {
			padding:2px 20px;
			background:url(../img/newspaper_delete.png) 0% 50% no-repeat;
		}
		.addCategory {
			padding:2px 20px;
			background:url(../img/folder_add.png) 0% 50% no-repeat;
			display:block;
			margin:10px 0;
		}
		.addProduct {
			padding:2px 20px;
			margin:10px 0;
			background:url(../img/newspaper_add.png) 0% 50% no-repeat;
			display:block;
		}
   /* Form */
	label {
		float:left;
		clear:left;
		font-size:1.3em;
		width:80px;
		text-align:right;
		padding:6px 10px;
	}
	input.submit {
		clear:both;
	}
	input[type=text], textarea[id=ProductDescription], input[type=file] {
		border:0;
		border:1px solid #999;
	}
	textarea {
		width:600px;
		height:300px;
		font-size:1.5em;
	}
	input {
		padding:3px;
		margin:3px;
		font-size:1.3em;
	}
	input[type=radio] {
		margin:0 3px;
	}
	p.instock, p.featured {
		padding:3px 3px 3px 100px;
		font-size:1.3em;
	}
	p.instock label, p.featured label {
		float:none;
		font-size:1em;
	}
	#ship_address {
		float:left;
		width:49%;
	}
	#ship_address h3, #bill_address h3 {
		margin:2px 0 8px 0;
	}
	#ship_address p, #bill_address p, #details p {
		margin:2px 0;
	}
	#bill_address {
		float:right;
		width:49%;
	}
	#details {
		clear:both;
		padding:10px 0;
		float:left;
		width:49%;
	}
	#bill_info {
		float:right;
		width:49%;
		padding:10px 0;
	}
	#status {
		clear:both;
	}
	.label {
		float:left;
		clear:left;
		width:120px;
		font-weight:bold;
		text-align:right;
		margin:3px 10px;
	}
	.attr {
		padding:3px;
		display:block;
	}
	#total {
		font-size:1.5em;
	}
	#company_details {
		float:left;
		width:50%;
	}
	#invoice {
		float:right;
	}
	#ship_to {
		border:1px solid #888;
		height:120px;
		float:right;
		width:48%;
	}
	#ship_to h3, #bill_to h3 {
		border-bottom:1px solid #888;
		padding:5px;
	}
	#ship_to p, #bill_to p {
		margin:3px 0;
		padding:5px;
	}
	#bill_to {
		clear:both;
		border:1px solid #888;
		height:120px;
		float:left;
		width:49%;
	}
	#items {
		clear:both;
		width:100%;
		border-collapse:collapse;
		margin:50px 3px;
		font-size:.95em;
		line-height:1;
		font-size:14px;
		background:#f9f9f9;
	}
	#items th {
		border-bottom:1px solid #fff;
		background:#000;
		color:#fff;
	}
	#items td { border:1px solid #fff; }
	#items .imp {
		font-weight:bold;
		font-size:1.3em;
	}
	#items tr:hover {
		background:inherit;
	}
	#items .info, #items .price { text-align:right; }
	#items .info { font-weight:bold; }

	#brand { overflow:hidden; zoom:1;}